AUTH0_SECRET=1cGhTUQJGni9vnTBuuXE4voaIBZscTtvoLZRNfe52bXr4doV3IkQcIdjKu3t_HqP
AUTH0_BASE_URL=http://localhost:5001
AUTH0_CLIENT_ID=GPv3UHbpXlrsA7x6NMv5nR7HX04o2jiw
AUTH0_ISSUER_BASE_URL=https://dev-3zuqd5vw0bjjmiew.eu.auth0.com
# Auth0 Application Settings -> Allowed Callback URLs
# http://localhost:5001/callback
# Auth0 Application Settings -> Allowed Logout URLs
# http://localhost:5001
# http://localhost:5173
PORT=5001
